$light-color: #ffffff;
$dark-color: #333333;
$xdark-color: #000000;
$primary-color: #1e90ff;
$primary-hover-color: #70a1ff;
$secondary-color: #333333;

$sm: min-width(576px);
$md: min-width(768px);
$lg: min-width(992px);
$xl: min-width(1200px);
$xxl: min-width(1360px);